
<div class="row p-2">
    <div class="col-md-6">
        <h2>Party</h2>
    </div>
    <div class="col-md-6 text-md-right">
        <button class="btn btn-primary" style="float:right" id="partyMod" data-toggle="modal" data-target="#partyModal">
            Create
        </button>
    </div>

</div>


<table class="table">
    <thead>
        <tr>
            <th>party Name</th>
            <th>Remarks</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var parties in Model)
        {
            <tr>
                <td>@parties.party_name</td>
                <td>@parties.remarks</td>
                <td>
                    <button class="btn btn-primary EditParty" data-id="@parties.party_id">Edit</button>
                    <button class="btn btn-danger DeleteParty" data-id="@parties.party_id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="partyModal" tabindex="-1" role="dialog" aria-labelledby="partyMod" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="partyModal">Create New Party</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form id="partyForm" action="~/Party/Create" method="post">
                    <div class="form-group">

                        <input type="text" class="form-control" id="edit_id" name="edit_id" hidden >
                      
                      Party Name
                        <input type="text" class="form-control" id="party_name" name="party_name">

                    </div>

                    <div class="form-group">

                        Remarks
                        <input type="text" class="form-control" id="remarks" name="remarks">
                      
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="saveGroupBtn">Save</button>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->

        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).on("click", ".EditParty", function () {
            var id = $(this).attr("data-id");
            $("#edit_id").val(id);
            $('#partyModal').modal('show');
        });

        $(document).on("click", ".DeleteParty", function () {
            var id = $(this).attr("data-id");
            $.ajax({
                url: "@Url.Action("Delete", "Party")",
                method: 'POST',
                dataType: 'json',
                data: { id: id },
                success: function (data) {
                    location.reload(true);
                    console.log('Edit success:', data);

                },

                error: function (xhr, status, error) {
                    console.error('Error editing data:', error);
                }
            });
        });

    });
</script>